@import url("../default.css");

div.form { text-align: center; }
dt { 
  margin-top: 0.5ex; 
  font-weight: normal;
}
dd {
  text-indent: 0;
  font-size: smaller;
}
dd a { text-decoration: none; }
p.headline {
  font-size: smaller;
  background-color: #3366cc;
  color: white;
  text-align: right;
  padding: 2px;
}

dl.edr_link {
  margin-left: 5%;
  border-left: thick solid silver;
  border-bottom: thin solid gray;
  padding-left: 10px;
}
dl.edr_link dt {
  font-size: normal;
  font-weight: bold;
}
dl.edr_link dd a {
  text-decoration: underline;
}
