<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<link rel="stylesheet" href="style.css" type="text/css">
<link rev="made" href="mailto:masao@ulis.ac.jp">
<title>Google検索: <%=h key %></title>
<script type="text/javascript"><!--
function addword(word) {
  var key = document.forms[0].elements[0];
  key.value += " " + word;
}
--></script>
</head>
<body>
<h1>Google 検索</h1>
<form action="google.cgi" method="GET">
<div class="form">
<input type="text" name="key" size="50" value="<%=h key %>">
<input type="submit" value=" Google 検索 ">
</div>
</form>
<% @wordlist.keys.each do |term| %>
<dl class="wordlist">
<% @wordlist[term].each do |w| %>
<dt><%=h w[:name] %> <span class="term-name">(<%= term.name %>)</span></dt>
<dd>上位:
    <% w[:parent].each do |p| %>
    <a href="javascript:addword('<%=u p.name %>')"><%=h p.name %></a>
    <% end %>
</dd>
<dd>下位:
    <% w[:child].each  do |c| %>
    <a href="javascript:addword('<%=u c.name %>')"><%=h c.name %></a>
    <% end %>
</dd>
<% end %>
</dl>
<% end %>

<div class="search_comments"><%=h searchComments %></div>
<p class="headline">
<%= unless estimateIsExact then "約"; end %>
<%= estimatedTotalResultsCount %>件中
<%= startIndex %> - <%= endIndex %>件目・・
検索にかかった時間<%= sprintf( '%.02f', searchTime ) %>秒</p>
<%= searchTips %>
<% count = startIndex %>
<% resultElements.each do |e| %>
<dl>
  <dt><%= count %>. <a href="<%= e.URL %>"><%= if e.title.length > 0 then e.title; else e.URL; end %></a></dt>
  <dd class="snippet"><%= e.snippet %></dd>
  <dd class="url"><a href="<%= e.URL %>"><%= e.URL %></a></dd>
</dl>
<% count += 1 %>
<% end %>
<p>ページ:
<%= page_list( "google.cgi?key=#{key}" ) %>
</p>
</div>
<hr>
<address>
高久雅生 (Takaku Masao)<br>
<a href="http://nile.ulis.ac.jp/~masao/">http://nile.ulis.ac.jp/~masao/</a>, 
<a href="mailto:masao@ulis.ac.jp">masao@ulis.ac.jp</a>
</address>
<div class="id"><%= ID %></div>
</body>
</html>
